.text {
   width: 1000px;
   height: auto;
   margin-left: 20%;
   padding: 60px;
   background-color: rgb(205, 170, 238);
   color: black;
   font-size: 30px;
   border-radius: 20% 20%;
  }
  .textProps {
     line-height: 20px;
     font-weight: bold;
     font-size: 40px;
  }